<h1>Burgers</h1>

<h2>Burgers are soo yummy</h2>

<form action="/api/burgers">
    <label for="fname">What kind of burgers</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <input type="submit" value="Submit">
</form>