li {
    margin: 5px;
    background: #faebd7;
    margin: auto;
    width: 200px;
    border: 1px solid green;
    padding: 10px;
    height: 10px;
    font-size: 13px;

}

.label {
    font-weight: bold;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.create-update-form {
    margin: 5px;
    background: aqua;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.form-group {
    margin-bottom: 5px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#burgerPic {
    height: 125px;
    width: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#addBurger {
    margin: auto;
    width:30%;
    border: 3px solid green;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ulRight {
    float:right;
}

.ulLeft {
    float:left;
}

.change-devour {
float: right;
}